<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

<Directory  ~ "\config">
    Order allow,deny
    Deny from all
</Directory>

<Directory  ~ "\docs">
    Order allow,deny
    Deny from all
</Directory>

<Directory  ~ "\src">
    Order allow,deny
    Deny from all
</Directory>
